body {
  background-color: white;
  font-family: sans-serif;
  margin: 1em;
}

h1, h2, h3 {
  font-weight: normal;
}

#handwriting {
  height: 257px;
  width: 193px;
  cursor: crosshair;
}

#cells {
  height: 257px;
  width: 193px;
}

#results {
  height: 257px;
  width: 193px;
  font-size: 17px;
}

.footer {
  font-size: small;
  margin-top: 2em;
}

.balls {
  float: right;
}
